<h1>Employee Data</h1>

<table border="1" width="100%">

  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>Experience</th>
    <th>dob</th>
    <th>Gender</th>
    <th>Education</th>
    <th>Package</th>

  </tr>

  <tr *ngFor="let emp of employeeList; let i = index">
    <td>{{ i+1}}</td>
    <td>{{ emp.firstName }}</td>
    <td>{{ emp.lastName }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.company }}</td>
    <td>{{ emp.experience }}</td>
    <td>{{ emp.dob | date:'MM-dd-yyyy' }}</td>
    <td>{{ emp.gender }}</td>
    <td>{{ emp.education }}</td>
    <td>{{ emp.package }}</td>

  </tr>

</table>