<div class="header">

  <div class="title">
    {{ 'WELCOME' | translate }}
  </div>

  <div class="lang">
    <label>{{ 'LANGUAGE' | translate }}</label>
    <select (change)="changeLanguage($event)">
      <option value="en">English</option>
      <option value="de">German</option>
      <option value="es">Spanish</option>
      <option value="it">Italian</option>
      <option value="fr">French</option>
    </select>
  </div>

  <div class="logout">
    <button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
  </div>

</div>